* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
.btn,
.result {
  font-size: 4rem;
}

.result-win,
.result-lose {
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 1.25rem;
  border: 2px solid #000000;
  border-radius: 1rem;
  text-align: center;
  font-size: 4rem;
}
.result-win,
.alert-success {
  font-size: 3rem;
  color: aliceblue;
  background-color: #70db79;
}
.result-lose {
  background-color: #db7070;
}
